<h1>Hands On Notificações</h1>
<p>Bem vindo a aplicação demonstrativa para uso de websockets com SignalR</p>

<p>A proposta da aplicação é a criação de um único websocket com 3 diferentes grupos</p>
<ul>
  <li><strong>Clientes</strong>. Clientes receberão notificações emitidas por Fornecedores e Notificações Gerais</li>
  <li><strong>Fornecedores</strong>. Fornecedores receberão notificações de Clientes, Administradores e Notificações Gerais</li>
  <li><strong>Administradores</strong>. Administradores receberão notificações de Fornecedores</li>
</ul>
<p>Confira no menu superior a aba "Notificações"</p>
